<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>Andela Receipt Tracker</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="./css/_partials/main.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>

<body>
	<nav class="navbar navbar-inverse">
		<div class="container-fluid app">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="logo navbar-brand" href="#">
					<img height=35 width=35 src="../../static/andela.png" alt="Andela">
				</a>
				<a class="brand-name navbar-brand" href="#">Andela Receipt Tracker</a>
			</div>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#">
              Logged in as user
              <img height=35 width=35 src="../../static/user.png" alt="Andela">
            </a>
					</li>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="container-fluid app">
		<div class="container">
			<p class="app-heading">Listing my Receipts</p>
			<div class="input-group pull-right search">
				<input type="text" class="form-control" placeholder="Search receipt">
				<div class="input-group-btn">
					<button class="btn btn-primary">
						<span class="glyphicon glyphicon-search"></span> Search
					</button>
					<button class="btn btn-success" data-toggle="modal" data-target="#receiptModal">
						<span class="glyphicon glyphicon-plus"></span> Add new
					</button>
					<!-- Create Receipt Modal -->
				</div>
			</div>
			<div class="container">
				<div class="modal fade container" id="receiptModal" role="dialog">
					<div class="modal-dialog">
						<!-- Modal content-->
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal">&times;</button>
								<h4 class="modal-title">Add New Item</h4>
							</div>
							<div class="modal-body">
								<form>
									<div class="form-group">
										<input type="text" class="form-control" placeholder="Name">
									</div>
									<div class="form-group">
										<input type="text" class="form-control" placeholder="Category">
									</div>
									<div class="form-group">
										<input type="text" class="form-control" placeholder="Amount">
									</div>
									<div class="form-group input-group">
										<input type="text" class="form-control" placeholder="Receipt">
										<span class="input-group-btn">
											<label class="btn btn-primary btn-file">
												Browse
												<input type="file" style="display: none;">
											</label>
      							</span>
									</div>
								</form>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-success" data-dismiss="modal" data-toggle="modal" data-target="#confirmationModal">ADD ITEM</button>
							</div>
						</div>

					</div>
				</div>
				<!-- Receipt create confirmation modal -->
				<div class="modal fade container modal-sm" id="confirmationModal" role="dialog">
					<div class="modal-dialog">
						<!-- Modal content-->
						<div class="modal-content">
							<div class="modal-body modal-sm">
								<span class="glyphicon glyphicon-ok-sign confirmation"></span>
								<p>ITEM ADDED!</p>
								<button type="button" class="btn btn-success" data-dismiss="modal">OK</button>
							</div>
						</div>

					</div>
				</div>
				<table class="table-responsive table table-bordered receipt-summary">
					<tbody>
						<tr>
							<td class="summaries">Total</td>
							<td>$150.00</td>
							<td class="summaries">Bal</td>
							<td>$20</td>
						</tr>
					</tbody>
				</table>
				<table class="table table-responsive table-bordered receipt-detail">
					<thead>
						<tr>
							<th>Name</th>
							<th>Category</th>
							<th>Activity</th>
						</tr>
						<tbody>
							<tr>
								<td>Biscuit</td>
								<td>Feeding</td>
								<td>Added Jun,2016
									<button class="btn btn-primary pull-right">
										<span class="glyphicon glyphicon-pencil"></span></button>
								</td>
							</tr>
							<tr>
								<td>Biscuit</td>
								<td>Feeding</td>
								<td>Added Jun,2016
									<button class="btn btn-primary pull-right">
										<span class="glyphicon glyphicon-pencil"></span></button>
								</td>
							</tr>
							<tr>
								<td>Biscuit</td>
								<td>Feeding</td>
								<td>Added Jun,2016
									<button class="btn btn-primary pull-right">
										<span class="glyphicon glyphicon-pencil"></span></button>
								</td>
							</tr>
							<tr>
								<td>Biscuit</td>
								<td>Feeding</td>
								<td>Added Jun,2016
									<button class="btn btn-primary pull-right">
										<span class="glyphicon glyphicon-pencil"></span></button>
								</td>
							</tr>
							<tr>
								<td>Biscuit</td>
								<td>Feeding</td>
								<td>Added Jun,2016
									<button class="btn btn-primary pull-right">
										<span class="glyphicon glyphicon-pencil"></span></button>
								</td>
							</tr>
						</tbody>
				</table>
			</div>
		</div>
	</div>

</body>

</html>
