.navbar {
  border-radius: 0px;
}

.logo img {
  margin-top: -5px;
}

.brand-name {
  margin-top: 3px;
}

.app-heading {
  font-size: 20px !important;
}

.btn {
  border-radius: 0px;
}

.search {
  float:right;
  width: 500px !important;
  /*margin-right: 130px;*/
}

.list-group-item{
  width: 60px;
  border-radius: 0px !important;
}

.receipt-summary {
  width: 50px;
}

.summaries{
  background: #337ab7;
}

.form-control {
  border-radius: 0px !important;
}

.modal-content {
  border-radius: 0px !important;
}

.modal-footer {
  text-align: center;
}

.app {
  margin-left:100px !important;
  margin-right:100px !important;
}

/* Admin Pages */
.table > tbody > tr > .filter {
  background: grey;
  padding: 0;
}

.refunded {
  color: #0cb86a;
  font-style: italic;
}

.pending {
  color: #b03e3e;
  font-style: italic;
}

.activity {
  color: #63b6f6;
  font-style: italic;
}

/* Admin - Fellow Details Page */
.glyphicon-triangle-left {
  margin-right: 0.3em;
  color: #4479c9;
}

.cell-table-left {
  width: 75%;
  background: #f5f5f5;
}

.cell-table-right {
  width: 25%;
  height: auto;
  background: #f5f5f5;
}

.fellow-details th {
  background: #d8d8d8;
}
.table-hover>tbody>tr:hover {
  background: #4479c9;
}
