body {
  font: 130% Helvetica, sans-serif;
  color: #333;
}

body .navbar {
  border-radius: 0px !important;
}

body .navbar .logo {
  margin-top: -5px;
}

body .navbar .brand-name {
  margin-top: 3px;
}

body .btn {
  border-radius: 0px;
}

body .app {
  margin: 0 100px !important;
}

body .app .app-heading {
  font-size: 20px !important;
}

body .app .search {
  float: right;
  width: 500px !important;
}

body .app .receipt-summary {
  width: 50px;
}

body .app .receipt-summary .summaries {
  background: #337ab7;
}

body .app .form-control {
  border-radius: 0px !important;
}

body .app .modal-content {
  border-radius: 0px !important;
}

body .app .modal-content .modal-footer, body .app .modal-content .modal-body {
  text-align: center;
}

body .app .modal-content .confirmation {
  font-size: 150px;
  color: green;
}

body .app .table tbody > tr > .filter {
  background: #c0c0c0;
  padding: 0;
}

body .app .table .refunded, body .app .table .pending, body .app .table .activity {
  font-style: italic;
  color: #0cb86a;
}

body .app .table .pending {
  color: #b03e3e;
}

body .app .table .activity {
  color: #63b6f6;
}

body .app .table .cell-table-left, body .app .table .cell-table-right {
  width: 75%;
  background: #f5f5f5;
}

body .app .table .cell-table-right {
  width: 25%;
  height: auto;
}

body .app .table .fellow-details th {
  background: #d8d8d8;
}

body .app .table .table-hover > tbody > tr:hover {
  background: #4479c9;
}

body .app .glyphicon-triangle-left {
  margin-right: 0.3em;
  color: #4479c9;
}

body h1 {
  color: blue;
}
